extends layout

block content
  .page-wrap
    .row
    .col-md-12
      h1 Datalogger NodeMCU - Montagem Final
      span#status.badge.badge-danger Offline
    .row
      .col-md-2
      .col-md-4
        #temperatura1_gauge(style='width: 400px;height:400px;float:left')
      .col-md-4
        #corrente1_gauge(style='width: 400px;height:400px;float:left')
      .col-md-2
    .row
      .col-md-12
        #temperatura1_tendencia(style='width:600px;height:400px;margin-left: 600px;')
    .row
      .col-md-12
        .messages
          h2 Leituras de Sensores
          #message-list
