doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    link(rel='stylesheet', href='/css/bootstrap.css')
    script(src="/js/jquery-3.3.1.min.js")
    script(src="/js/socket.io.js")
    script(src="/js/echarts.min.js")
    script(src="/js/bootstrap.min.js")
    script(src="/js/underscore-min.js")
    script(src="/js/index.js")
    
  body
    block content
