body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  }
  
  a {
    color: #00B7FF;
  }
  
  .status.offline {
    color: red;
  }
  
  .status.online {
    color: green;
  }
  
  .controls div {
    float: left;
    width: 49%
  }
  
  .controls .clear {
    float: none;
    clear: both;
    width: 100%
  }
  
  span {
    padding-left: 1em;
    padding-right: 1em;
  }
  
  .topic {
    color: red;
  }
  
  .message {
    color: green;
  }
  